*, *:before, *after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
}

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    margin: 1rem auto;
}

.images{
    display: flex; 
    flex-wrap: wrap;
}

.images li{
    list-style-type: none;
    flex:1 1 320px;
    width: 100%;
    
}

.images li img{
    width: 100%;
    height: 100%;
}


